*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false

*.Rmd linguist-detectable=true
*.Rmd linguist-language=RMarkdown
*.Rmd linguist-documentation=false

*.Tex linguist-detectable=false
*.Tex linguist-language=TeX
*.Tex linguist-documentation=false
